<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% if title %}
        <title>{{ title }}!</title>
        {% else %}
        <title>Welcome!</title>
        {% endif %}
    </head>
<body>
    <div><a href="/index">Home</a></div>
    <div><a href="/club">Club Memberships</a></div>

    {% if current_user.is_anonymous %}
    <a href="{{ url_for('login') }}">Login</a>
    {% else %}
    <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}

    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ messages }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    </div>
    <hr>
    {% block content %}{% endblock %}
    <hr>
        <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script></p>

</body>
</html>