<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% if title %}
        <title>{{ title }}!</title>
        {% else %}
        <title>Welcome!</title>
        {% endif %}
        <link href="static/stylesheet.css" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
            <div class="main_content">
                <div class="links">
                    <div class=”flash”>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <p style="margin-top: 0px;">{{ messages }}</lp>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </div>
                    <a href="/index">Home</a>
                    <a href="/club">Club Memberships</a>
                    {% if current_user.is_anonymous %}
  	                <a href="{{ url_for('login') }}">Login</a>
  	                {% else %}
  	                <a href="{{ url_for('logout') }}">Logout</a>
  	                {% endif %}
                </div>
                <hr>

                {% block content %}{% endblock %}
                <hr>
                <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script></p>
            </div>
        </div>
    </body>
</html>
